<!-- Slider -->
<div class="slider" slider>
  <ul class="slides">
    <li>
      <img src="assets/images/parallax9.jpg">
      <div class="caption right-align">
        <h3>LINTERNA VERDE</h3>
      </div>
    </li>
    <li>
      <img src="assets/images/parallax7.jpg">
      <div class="caption left-align">
        <h3>IRON MAN</h3>
      </div>
    </li>
    <li>
      <img src="assets/images/parallax8.jpg">
      <div class="caption left-align">
        <h3>BATMAN</h3>
      </div>
    </li>
    <li>
      <img src="assets/images/parallax10.jpg">
      <div class="caption left-align">
        <h3>SPIDERMAN</h3>
      </div>
    </li>
  </ul>
</div>

<!-- Titulo -->
<div class="container">
  <h1  class="center-align">Comics</h1>
</div>

<!-- filtros -->
<div class="row">
  <div class="input-field col m10 offset-m1">
    <i class="material-icons prefix">search</i>
    <input id="icon_prefix" type="text" ng-model="vm.filterTitle" />
    <label for="icon_prefix">Búsqueda</label>
  </div>
</div>

<!-- lista de comics -->
<div class="row">
  <div class="col s12 m6 l4" ng-repeat="comic in vm.comics | filter:vm.filter(vm.filterTitle) track by $index">
    <div class="card">
      <a href="#detailComicModal"  modal ng-click="vm.selectComic(comic)">
        <div class="card-image">
          <img ng-src="assets/images/comics/{{comic.id}}.jpg" height="250px">
          <span class="card-title"><b>{{comic.name | uppercase}}</b></span>
        </div>
      </a>
    </div>
  </div>
</div>


<!-- Boton para añadir comics -->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a href="#newComicModal"  modal class="btn-floating btn-large red modal-close waves-effect waves-light">
    <i class="material-icons">add</i>
  </a>
</div>


<!-- Modal de detalle del comic -->
<div id="detailComicModal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div class="row">
      <div class="col m8 s12">
        <img class="responsive-img" ng-src="assets/images/comics/{{vm.selectedComic.id}}.jpg">
      </div>
      <div class="col m4 s12">
        <h4>{{vm.selectedComic.name | uppercase}}</h4>
        <p class="grey-text"><b>Editorial:</b> {{vm.selectedComic.company}}</p>
        <p class="grey-text"><b>Por:</b> {{vm.selectedComic.author}}</p>
        <span class="yellow-text"><i class="material-icons">star</i></span>
        <span class="yellow-text"><i class="material-icons">star</i></span>
        <span class="yellow-text"><i class="material-icons">star</i></span>
        <span class="yellow-text"><i class="material-icons">star</i></span>
        <span class="yellow-text"><i class="material-icons">star_half</i></span>
      </p>
      <a href="" class=" waves-effect waves-green btn orange" ng-click="vm.openEditModal()">Editar <i class="material-icons">edit</i></a>

    </div>
  </div>

  <div class="row">
    <p class="justify-text"> {{vm.selectedComic.description}} </p>
  </div>

  <div class="row">
    <h5>Comentarios</h5>
    <ul class="collection">
      <li class="collection-item avatar" ng-repeat="comment in vm.comments">
        <img ng-src="assets/images/users/{{comment.id}}.jpg" alt="" class="circle">
        <span class="title"><b>{{comment.user}}</b></span>
        <p>{{comment.content}}</p>
        <a href="#!" class="secondary-content"><i class="material-icons">sentiment_satisfied</i></a>
      </li>
    </ul>
  </div>

</div>
<div class="modal-footer">
  <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Regresar</a>
</div>
</div>

<!-- modal nuevo comic -->
<div id="newComicModal" class="modal modal-fixed-footer">
  <div class="modal-content">

    <h4>Nuevo Comic</h4>
    <form class="col s12" ng-submit="vm.createComic(vm.newComic);">
      <div class="row">
        <div class="input-field col m6 s12">
          <i class="material-icons prefix">accessibility</i>
          <input id="newComicName" type="text" class="validate" ng-model="vm.newComic.name" required />
          <label for="newComicName">Nombre</label>
        </div>
        <div class="input-field col m6 s12">
          <i class="material-icons prefix">business</i>
          <input id="newComicCompany" type="text" class="validate" ng-model="vm.newComic.company" required />
          <label for="newComicCompany">Editorial</label>
        </div>
        <div class="input-field col  m6 s12">
          <i class="material-icons prefix">face</i>
          <input id="newComicCompany" type="text" class="validate" ng-model="vm.newComic.author" required />
          <label for="newComicCompany">Autor</label>
        </div>
        <div class="input-field col m6 s12">
          <textarea id="newComicDescription" class="materialize-textarea validate"  ng-model="vm.newComic.description" required></textarea>
          <label for="newComicDescription">Textarea</label>
        </div>
      </div>
      <div class="center-align">
        <button class="btn waves-effect waves-light orange " type="submit" name="action">Crear
          <i class="material-icons right">done</i>
        </button>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Regresar</a>
  </div>
</div>


<!-- modal editar comic -->
<div id="editComicModal" class="modal modal-fixed-footer">
  <div class="modal-content">

    <h4>Editar Comic</h4>
    <form class="col s12" ng-submit="vm.editComic(vm.selectedComic);">
      <div class="row">
        <div class="input-field col m6 s12">
          <i class="material-icons prefix">accessibility</i>
          <input id="selectedComicName" type="text" class="validate" ng-model="vm.selectedComic.name" required />
          <label for="selectedComicName">Nombre</label>
        </div>
        <div class="input-field col m6 s12">
          <i class="material-icons prefix">business</i>
          <input id="selectedComicCompany" type="text" class="validate" ng-model="vm.selectedComic.company" required />
          <label for="selectedComicCompany">Editorial</label>
        </div>
        <div class="input-field col  m6 s12">
          <i class="material-icons prefix">face</i>
          <input id="selectedComicCompany" type="text" class="validate" ng-model="vm.selectedComic.author" required />
          <label for="selectedComicCompany">Autor</label>
        </div>
        <div class="input-field col m6 s12">
          <textarea id="selectedComicDescription" class="materialize-textarea validate"  ng-model="vm.selectedComic.description" required></textarea>
          <label for="selectedComicDescription">Textarea</label>
        </div>
      </div>
      <div class="center-align">
        <button class="btn waves-effect waves-light orange " type="submit" name="action">Actualizar
          <i class="material-icons right">autorenew</i>
        </button>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Regresar</a>
  </div>
</div>
