<nav class="orange">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">ComicApp</a>
    <a href="#" class="button-collapse" data-activates="mobile-nav" data-sidenav="left" data-menuwidth="300" data-closeonclick="true"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a ui-sref="login">login</a></li>
      <li><a ui-sref="employee">Empleados</a></li>
      <li><a ui-sref="comics">comics</a></li>
      <li><a ui-sref="comics">Salir</a></li>

    </ul>
    <ul class="side-nav" id="mobile-nav">
      <li><a ui-sref="login">login</a></li>
      <li><a ui-sref="employee">Empleados</a></li>
      <li><a ui-sref="comics">comics</a></li>
      <li><a ui-sref="comics">Salir</a></li>

    </ul>
  </div>
</nav>
