/* label color */
 .input-field label {
   color: #000;
 }
 /* label focus color */
 .input-field input[type=email]:focus + label {
   color: #000;
 }
 .input-field input[type=number]:focus + label {
   color: #000;
 }
  .input-field textarea[class=materialize-textarea]:focus + label {
   color: #000;
 }
 .input-field textarea[id=newComicDescription]:focus + label {
  color: #000;
}
.input-field textarea[id=newComicDescription]:focus {
 color: #000;
 box-shadow: 0 1px 0 0 #000;
 border-bottom: 1px solid #000;
}


 /* label underline focus color */
.input-field input[type=email]:focus {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #000;
}
 .input-field input[type=number]:focus {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #000;
}
 .input-field textarea[class=materialize-textarea]:focus {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
 .input-field input[type=email].valid {
   border-bottom: 1px solid #fff;
   box-shadow: 0 1px 0 0 #000;
 }
  .input-field input[type=number].valid {
   border-bottom: 1px solid #fff;
   box-shadow: 0 1px 0 0 #000;
 }
  .input-field textarea[class=materialize-textarea].valid {
   border-bottom: 1px solid #fff;
   box-shadow: 0 1px 0 0 #000;
 }
 /* invalid color */
 .input-field input[type=email].invalid {
   border-bottom: 1px solid #FE0000;
   box-shadow: 0 1px 0 0 #FE0000;
 }
  .input-field input[type=number].invalid {
   border-bottom: 1px solid #FE0000;
   box-shadow: 0 1px 0 0 #FE0000;
 }
  .input-field textarea[class=materialize-textarea].invalid {
   border-bottom: 1px solid #FE0000;
   box-shadow: 0 1px 0 0 #FE0000;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #000;
 }
/*TEXT*/
/* label color */
 .input-field label {
   color: #000;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #000;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #fff;
   box-shadow: 0 1px 0 0 #000;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #fff;
   box-shadow: 0 1px 0 0 #000;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #FE0000;
   box-shadow: 0 1px 0 0 #FE0000;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #000;
 }
/*PASSWORD*/
/* label color */
 .input-field label {
   color: #000;
 }
 /* label focus color */
 .input-field input[type=password]:focus + label {
   color: #000;
 }
 /* label underline focus color */
 .input-field input[type=password]:focus {
   border-bottom: 1px solid #fff;
   box-shadow: 0 1px 0 0 #000;
 }
 /* valid color */
 .input-field input[type=password].valid {
   border-bottom: 1px solid #fff;
   box-shadow: 0 1px 0 0 #000;
 }
 /* invalid color */
 .input-field input[type=password].invalid {
   border-bottom: 1px solid #FE0000;
   box-shadow: 0 1px 0 0 #FE0000;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #000;
 }
 [type="checkbox"]:checked + label:before {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.card-title{
  text-shadow: 2px 2px 8px #000;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}
