        <div class="orange">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" ui-sref="login">login</a></li>
                <li><a class="grey-text text-lighten-3" ui-sref="register-employee">Empleados</a></li>
                <li><a class="grey-text text-lighten-3" ui-sref="comics">comics</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2016 Copyright jamesgarzon
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
